openai
pymilvus
flask
flask_session

langchain
langchain-google-vertexai
langchain-openai
langchain-google-genai
langchain-ollama
langchain-milvus
langchain-community
langgraph

pypdf

langserve[all]

chainlit
python-dotenv